In [44]:
import pandas as pd
from bs4 import BeautifulSoup
import selenium
import time
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException
import sys
from selenium.common import exceptions
import io
from selenium.webdriver.chrome.options import Options
import requests
import re

# Q1.

In [4]:
driver= webdriver.Chrome("chromedriver")

In [38]:
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [58]:
Name=[]
Rank=[]
Artist=[]
Upload_date=[]
Views=[]

try:
        rank=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]//tbody//tr//td[1]")
        for i in rank:
            Rank.append(i.text)
except NoSuchElementException:
        Rank.append('-')
except StaleElementReferenceException:
        Rank.append('-')
        
        
try:
        name=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]//tbody//tr//td[2]")
        for i in name:
            Name.append(i.text)
except NoSuchElementException:
        Name.append('-')
except StaleElementReferenceException:
        Name.append('-')
time.sleep(2)

try:
        artist=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]//tbody//tr//td[3]")
        for i in artist:
            Artist.append(i.text)
except NoSuchElementException:
        Artist.append('-')
except StaleElementReferenceException:
        Artist.append('-')
        
try:
        upload_date=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]//tbody//tr//td[5]")
        for i in upload_date:
            Upload_date.append(i.text)
except NoSuchElementException:
        Upload_date.append('-')
except StaleElementReferenceException:
        Upload_date.append('-')
        
try:
        views=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]//tbody//tr//td[4]")
        for i in views:
            Views.append(i.text)
except NoSuchElementException:
        Views.append('-')
except StaleElementReferenceException:
        Views.append('-')

In [55]:
most_watched=pd.DataFrame({})
most_watched['Rank']=Rank
most_watched['Name']=Name
most_watched['Artist']=Artist
most_watched['Views(in billions)']=Views
most_watched['Upload_date']=Upload_date
most_watched

,Rank,Name,Artist,Views(in billions),Upload_date
0,1.,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,9.44,"June 17, 2016"
1,2.,"""Despacito""[25]",Luis Fonsi,7.57,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,5.77,"October 8, 2016"
3,4.,"""Shape of You""[27]",Ed Sheeran,5.48,"January 30, 2017"
4,5.,"""See You Again""[28]",Wiz Khalifa,5.28,"April 6, 2015"
5,6.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,4.55,"May 2, 2018"
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.52,"February 27, 2018"
7,8.,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,4.46,"January 31, 2012"
8,9.,"""Uptown Funk""[34]",Mark Ronson,4.32,"November 19, 2014"
9,10.,"""Phonics Song with Two Words""[35]",ChuChu TV,4.22,"March 6, 2014"
10,11.,"""Gangnam Style""[36]",Psy,4.21,"July 15, 2012"
11,12.,"""Dame Tu Cosita""[38]",El Chombo,3.63,"April 5, 2018"
12,13.,"""Sugar""[39]",Maroon 5,3.56,"January 14, 2015"
13,14.,"""Sorry""[40]",Justin Bieber,3.47,"October 22, 2015"
14,15.,"""Roar""[41]",Katy Perry,3.44,"September 5, 2013"
15,16.,"""Counting Stars""[42]",OneRepublic,3.41,"May 31, 2013"
16,17.,"""Thinking Out Loud""[43]",Ed Sheeran,3.34,"October 7, 2014"
17,18.,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,3.29,"May 24, 2018"
18,19.,"""Dark Horse""[45]",Katy Perry,3.15,"February 20, 2014"
19,20.,"""Faded""[46]",Alan Walker,3.15,"December 3, 2015"
20,21.,"""Girls Like You""[47]",Maroon 5,3.14,"May 31, 2018"
21,22.,"""Lean On""[48]",Major Lazer,3.10,"March 22, 2015"
22,23.,"""Bailando""[49]",Enrique Iglesias,3.10,"April 11, 2014"
23,24.,"""Shake It Off""[50]",Taylor Swift,3.10,"August 18, 2014"
24,25.,"""Let Her Go""[51]",Passenger,3.09,"July 25, 2012"
25,26.,"""Axel F""[52]",Crazy Frog,3.03,"June 16, 2009"
26,27.,"""Mi Gente""[53]",J Balvin,2.99,"June 29, 2017"
27,28.,"""Perfect""[54]",Ed Sheeran,2.97,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[55]",Shakira,2.96,"June 4, 2010"
29,30.,"""Hello""[56]",Adele,2.89,"October 22, 2015"

# Q2.

In [92]:
driver= webdriver.Chrome("chromedriver")

In [93]:
url='https://www.bcci.tv/'
driver.get(url)

In [94]:
menu_button=driver.find_element_by_xpath("//button[@class='navigation__header-button menu-button js-navigation-menu-button']")
menu_button
menu_button.click()

In [95]:
int_fixtures=driver.find_element_by_xpath("//ul[@class='navigation__list showMoreEnabled']//li[@data-nav-index='0'][1]//div[2]//div//ul//li[1]//a")
int_fixtures
try:
    int_fixtures.click()
    
except ElementNotInteractableException:
    driver.get(int_fixtures.get_attribute('href'))

In [107]:
showmore_button=driver.find_element_by_xpath("//button[@class='load-more-button u-center js-show-more-button js-loader']")
showmore_button
showmore_button.click()

In [108]:
urls=[]
match_page=driver.find_elements_by_xpath("//div[@class='js-list']//a")
for i in match_page:
    urls.append(i.get_attribute('href'))

In [109]:
Match=[]
Series=[]
Place=[]
Date=[]
Time=[]
for i in urls:
    driver.get(i)
    try:
        match=driver.find_element_by_xpath("//p[@class='mc-header-info__match-description']//span")
        Match.append(match.text)
    except NoSuchElementException:
        Match.append('-')
    
    try:
        series=driver.find_element_by_xpath("//section[@class='widget widget--with-footer widget--small match-info match-info--main js-prematch-info mc-theme-pseudo']//div[1]//ul[1]//li[1]//span[2]")
        Series.append(series.text)
    except NoSuchElementException:
        Series.append('-')
        
    try:
        place=driver.find_element_by_xpath("//section[@class='widget widget--with-footer widget--small match-info match-info--main js-prematch-info mc-theme-pseudo']//div[1]//ul[1]//li[3]//span[2]")
        Place.append(place.text)
    except NoSuchElementException:
        Place.append('-')
        
    try:
        date=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']//strong")
        Date.append(date.text)
    except NoSuchElementException:
        Date.append('-')
        
    try:
        time=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']//span[1]")
        Time.append(time.text)
    except NoSuchElementException:
        Time.append('-')

In [103]:
len(Series)

20

In [110]:
fixtures=pd.DataFrame({})
fixtures['Matches']=Match
fixtures['Series']=Series
fixtures['Place']=Place
fixtures['Date']=Date
fixtures['Time']=Time
fixtures

,Matches,Series,Place,Date,Time
0,MATCH 16,2021 ICC Men's T20 World Cup,"Dubai International Stadium, Dubai",Sunday 24 October,19:30 IST
1,MATCH 28,2021 ICC Men's T20 World Cup,"Dubai International Stadium, Dubai",Sunday 31 October,19:30 IST
2,MATCH 33,2021 ICC Men's T20 World Cup,"Zayed Cricket Stadium, Abu Dhabi",Wednesday 3 November,19:30 IST
3,MATCH 37,2021 ICC Men's T20 World Cup,"Dubai International Stadium, Dubai",Friday 5 November,19:30 IST
4,MATCH 42,2021 ICC Men's T20 World Cup,"Dubai International Stadium, Dubai",Monday 8 November,19:30 IST
5,1ST T20I,India v New Zealand 2021,"Sawai Mansingh Stadium, Jaipur",Wednesday 17 November,19:00 IST
6,2ND T20I,India v New Zealand 2021,"JSCA International Stadium Complex, Ranchi",Friday 19 November,19:00 IST
7,3RD T20I,India v New Zealand 2021,"Eden Gardens, Kolkata",Sunday 21 November,19:00 IST
8,1ST TEST,India v New Zealand 2021,"Green Park, Kanpur",Thursday 25 November,09:30 IST
9,2ND TEST,India v New Zealand 2021,"Wankhede Stadium, Mumbai",Friday 3 December,09:30 IST
10,1ST TEST,South Africa v India 2021/2022,"New Wanderers Stadium, Johannesburg",Friday 17 December,13:30 IST
11,2ND TEST,South Africa v India 2021/2022,"Supersport Park, Centurion",Sunday 26 December,13:30 IST
12,3RD TEST,South Africa v India 2021/2022,"New Wanderers Stadium, Johannesburg",Monday 3 January,13:30 IST
13,1ST ODI,South Africa v India 2021/2022,"Boland Park, Paarl",Tuesday 11 January,14:00 IST
14,2ND ODI,South Africa v India 2021/2022,"Newlands, Cape Town",Friday 14 January,14:00 IST
15,3RD ODI,South Africa v India 2021/2022,"Newlands, Cape Town",Sunday 16 January,14:00 IST
16,1ST T20I,South Africa v India 2021/2022,"Newlands, Cape Town",Wednesday 19 January,19:30 IST
17,2ND T20I,South Africa v India 2021/2022,"Newlands, Cape Town",Friday 21 January,19:30 IST
18,3RD T20I,South Africa v India 2021/2022,"Boland Park, Paarl",Sunday 23 January,19:30 IST
19,4TH T20I,South Africa v India 2021/2022,"Boland Park, Paarl",Wednesday 26 January,19:30 IST
20,1ST ODI,India v West Indies 2022,"Narendra Modi Stadium, Ahmedabad",Sunday 6 February,13:00 IST
21,2ND ODI,India v West Indies 2022,"Sawai Mansingh Stadium, Jaipur",Wednesday 9 February,13:00 IST
22,3RD ODI,India v West Indies 2022,"Eden Gardens, Kolkata",Saturday 12 February,13:00 IST
23,1ST T20I,India v West Indies 2022,"Barabati Stadium, Cuttack",Tuesday 15 February,19:00 IST
24,2ND T20I,India v West Indies 2022,"ACA-VDCA Stadium, Visakhapatnam",Friday 18 February,19:00 IST
25,3RD T20I,India v West Indies 2022,"Greenfield Stadium, Thiruvananthapuram",Sunday 20 February,19:00 IST
26,1ST TEST,India v Sri Lanka 2022,"M.Chinnaswamy Stadium, Bangalore",Friday 25 February,09:30 IST
27,2ND TEST,India v Sri Lanka 2022,"Punjab Cricket Association Stadium, Mohali, Ch...",Saturday 5 March,09:30 IST
28,1ST T20I,India v Sri Lanka 2022,"Punjab Cricket Association Stadium, Mohali, Ch...",Sunday 13 March,19:00 IST
29,2ND T20I,India v Sri Lanka 2022,"Himachal Pradesh Cricket Association Stadium, ...",Tuesday 15 March,19:00 IST
30,3RD T20I,India v Sri Lanka 2022,Bharat Ratna Shri Atal Bihari Vajpai Ekana Cri...,Friday 18 March,19:00 IST
31,1ST T20I,India v South Africa 2022,"M. A. Chidambaram Stadium, Chennai",Thursday 9 June,19:00 IST
32,2ND T20I,India v South Africa 2022,"M.Chinnaswamy Stadium, Bangalore",Sunday 12 June,19:00 IST
33,3RD T20I,India v South Africa 2022,"Vidarbha Cricket Association Stadium, Nagpur",Tuesday 14 June,19:00 IST
34,4TH T20I,India v South Africa 2022,"Saurashtra Cricket Association Stadium, Rajkot",Friday 17 June,19:00 IST
35,5TH T20I,India v South Africa 2022,"Arun Jaitley Stadium, Delhi",Sunday 19 June,19:00 IST
36,1ST T20I,England v India 2022,"Old Trafford, Manchester",Friday 1 July,23:00 IST
37,2ND T20I,England v India 2022,"Trent Bridge, Nottingham",Sunday 3 July,19:00 IST
38,3RD T20I,England v India 2022,"The Ageas Bowl, Southampton",Wednesday 6 July,23:00 IST
39,1ST ODI,England v India 2022,"Edgbaston, Birmingham",Saturday 9 July,15:30 IST

# Q3.

In [111]:
driver= webdriver.Chrome("chromedriver")

In [113]:
url='https://www.guru99.com/'
driver.get(url)

In [115]:
button_1=driver.find_element_by_xpath("//div[@class='col-md-3'][1]//ul[@class='menu1' and @id='java_technologies'][1]//li[3]//a")
button_1
button_1.click()

In [116]:
button_2=driver.find_element_by_xpath("//div[@class='entry-content single-content']//table[5]//tr[34]//td[1]//a")
button_2
button_2.click()

In [147]:
Data=[]
Name=[]
Description=[]

table=driver.find_elements_by_xpath("//table[@class='table table-striped']//tr//td")
for i in table:
    try:
        Data.append(i.text)
    except NoSuchElementException:
        Data.append('-')

for i in range(0,len(Data),2):
    Name.append(Data[i])
for i in range(1,len(Data),2):
    Description.append(Data[i])

In [150]:
len(Name)

41

In [151]:
exception=pd.DataFrame({})
exception['Name']=Name
exception['Description']=Description
exception

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# Q4.

In [7]:
url = "http://statisticstimes.com/"
driver.get(url)

In [8]:
economy_button=driver.find_element_by_xpath("//div[@class='navbar']//div[2]//div//a[3]")
try:
    economy_button.click()
except ElementNotInteractableException:
    driver.get(economy_button.get_attribute('href'))

In [164]:
gdp_button=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']//li[1]//a[1]")
try:
    gdp_button.click()
except ElementNotInteractableException:
    driver.get(gdp_button.get_attribute('href'))

In [173]:
Rank=[]
State=[]
GSDP1=[]
GSDP2=[]
Share=[]
GDP=[]
try:
    rank=driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td[1]")
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')
    

try:
    state=driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td[2]")
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('-')

try:
    gsdp1=driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td[3]")
    for i in gsdp1:
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append('-')
    
try:
    gsdp2=driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td[4]")
    for i in gsdp2:
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append('-')
    
try:
    share=driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td[5]")
    for i in share:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('-')
    
try:
    gdp=driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td[6]")
    for i in gdp:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('-')

In [178]:
statistic=pd.DataFrame({})
statistic['Rank']=Rank
statistic['State']=State
statistic['GSDP19/20']=GSDP1
statistic['GSDP18/19']=GSDP2
statistic['Share']=Share
statistic['GDP']=GDP
statistic

   Rank                      State  GSDP19/20  GSDP18/19   Share      GDP
0     1                Maharashtra          -  2,632,792  13.94%  399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%  247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%  240.726
3     4                    Gujarat          -  1,502,899   7.96%  228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%  226.806
5     6                West Bengal  1,253,832  1,089,898   5.77%  165.556
6     7                  Rajasthan  1,020,989    942,586   4.99%  143.179
7     8             Andhra Pradesh    972,782    862,957   4.57%  131.083
8     9                  Telangana    969,604    861,031   4.56%  130.791
9    10             Madhya Pradesh    906,672    809,592   4.29%  122.977
10   11                     Kerala          -    781,653   4.14%  118.733
11   12                      Delhi    856,112    774,870   4.10%  117.703
12   13                    Haryana    831,610    734,163   3.89%  111.519
13   14                      Bihar    611,804    530,363   2.81%   80.562
14   15                     Punjab    574,760    526,376   2.79%   79.957
15   16                     Odisha    521,275    487,805   2.58%   74.098
16   17                      Assam          -    315,881   1.67%   47.982
17   18               Chhattisgarh    329,180    304,063   1.61%   46.187
18   19                  Jharkhand    328,598    297,204   1.57%   45.145
19   20                Uttarakhand          -    245,895   1.30%   37.351
20   21            Jammu & Kashmir          -    155,956   0.83%   23.690
21   22           Himachal Pradesh    165,472    153,845   0.81%   23.369
22   23                        Goa     80,449     73,170   0.39%   11.115
23   24                    Tripura     55,984     49,845   0.26%    7.571
24   25                 Chandigarh          -     42,114   0.22%    6.397
25   26                 Puducherry     38,253     34,433   0.18%    5.230
26   27                  Meghalaya     36,572     33,481   0.18%    5.086
27   28                     Sikkim     32,496     28,723   0.15%    4.363
28   29                    Manipur     31,790     27,870   0.15%    4.233
29   30                   Nagaland          -     27,283   0.14%    4.144
30   31          Arunachal Pradesh          -     24,603   0.13%    3.737
31   32                    Mizoram     26,503     22,287   0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -       -        -

# Q5.

In [94]:
driver= webdriver.Chrome("chromedriver")

In [9]:
url="https://github.com/"
driver.get(url)

In [10]:
menu_button=driver.find_element_by_xpath("//button[@class='js-details-target btn-link d-lg-none mt-1']")
menu_button
menu_button.click()

In [11]:
explore_button=driver.find_element_by_xpath("//summary[contains(text(),'Explore')]")
explore_button
explore_button.click()

In [12]:
trending_button=driver.find_element_by_xpath("//div[@class='dropdown-menu flex-auto rounded px-0 pt-2 pb-0 mt-0 pb-4 p-lg-4 position-relative position-lg-absolute left-0 left-lg-n4']//ul[2]//li[3]")
trending_button
trending_button.click()

In [13]:
URLS=[]
urls=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']//a")
for i in urls:
    URLS.append(i.get_attribute('href'))

In [14]:
Name=[]
try:
        name=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']//a")
        for i in name:
            Name.append(i.text)
except NoSuchElementException:
        Name.append('-')

In [20]:
Desc=[]
Contributors=[]



for i in URLS:
    driver.get(i)
    
        
    try:
        desc=driver.find_element_by_xpath("//p[@class='f4 mt-3']")
        Desc.append(desc.text)
    except NoSuchElementException:
        Desc.append('-')
        
    try:
        contributors=driver.find_element_by_xpath("//a[contains(text(),'Contributors')]//span")
        Contributors.append(contributors.text)
    except NoSuchElementException:
        Contributors.append('-')

In [16]:
for i in URLS:
    driver.get(i)
    time.sleep(3)
    languages_used=driver.find_elements_by_xpath("//h2[text()='Languages']//parent::div[@class='BorderGrid-cell']//ul//*//span[1]")
    Languages_used=[]
    Languages_used.clear()
    for j in languages_used:
        if j.text.split(' ')[0].isalpha() == True:
            Languages_used.append(j.text.split(' ')[0])
            
        else:
            Languages_used.append('-')

In [19]:
Languages_used

['Vue', 'TypeScript', 'JavaScript', 'SCSS', '-', 'Other']

In [21]:
github=pd.DataFrame({})
github['Name']=Name
github['Description']=Desc
github['Contributors']=Contributors
github['Languages_used']=", ".join(Languages_used)
github

,Name,Description,Contributors,Languages_used
0,NVlabs / stylegan3,Official PyTorch implementation of StyleGAN3,2,"Vue, TypeScript, JavaScript, SCSS, -, Other"
1,goplus / gop,"GoPlus - The Go+ language for engineering, STE...",22,"Vue, TypeScript, JavaScript, SCSS, -, Other"
2,fosscord / fosscord-server,Fosscord Server (selfhostable open source disc...,38,"Vue, TypeScript, JavaScript, SCSS, -, Other"
3,KieSun / all-of-frontend,你想知道的前端内容都在这,19,"Vue, TypeScript, JavaScript, SCSS, -, Other"
4,Chakazul / Lenia,Lenia - Mathematical Life Forms,7,"Vue, TypeScript, JavaScript, SCSS, -, Other"
5,cypress-io / cypress,"Fast, easy and reliable testing for anything t...",305,"Vue, TypeScript, JavaScript, SCSS, -, Other"
6,WebDevSimplified / useful-custom-react-hooks,-,-,"Vue, TypeScript, JavaScript, SCSS, -, Other"
7,practical-tutorials / project-based-learning,Curated list of project-based tutorials,91,"Vue, TypeScript, JavaScript, SCSS, -, Other"
8,marcelja / facebook-delete,Fast facebook activity deletion,4,"Vue, TypeScript, JavaScript, SCSS, -, Other"
9,fosscord / fosscord,Fosscord is a free open source selfhostable di...,14,"Vue, TypeScript, JavaScript, SCSS, -, Other"
10,ZhangNanBei / WokerLifeMatters,各大公司作息统计,-,"Vue, TypeScript, JavaScript, SCSS, -, Other"
11,jackfrued / Python-100-Days,Python - 100天从新手到大师,12,"Vue, TypeScript, JavaScript, SCSS, -, Other"
12,AveYo / MediaCreationTool.bat,Universal MCT wrapper script for all Windows 1...,-,"Vue, TypeScript, JavaScript, SCSS, -, Other"
13,ethereum / EIPs,The Ethereum Improvement Proposal repository,370,"Vue, TypeScript, JavaScript, SCSS, -, Other"
14,xinntao / Real-ESRGAN,Real-ESRGAN aims at developing Practical Algor...,4,"Vue, TypeScript, JavaScript, SCSS, -, Other"
15,trekhleb / javascript-algorithms,📝 Algorithms and data structures implemented i...,143,"Vue, TypeScript, JavaScript, SCSS, -, Other"
16,raimohanska / ourboard,An online whiteboard,9,"Vue, TypeScript, JavaScript, SCSS, -, Other"
17,milvus-io / milvus,An open-source vector database for embedding s...,164,"Vue, TypeScript, JavaScript, SCSS, -, Other"
18,umijs / umi,🌋 Pluggable enterprise-level react application...,305,"Vue, TypeScript, JavaScript, SCSS, -, Other"
19,thunlp / OpenPrompt,An Open-Source Toolkit for Prompt-Learning.,3,"Vue, TypeScript, JavaScript, SCSS, -, Other"
20,microsoft / playwright,"Node.js library to automate Chromium, Firefox ...",168,"Vue, TypeScript, JavaScript, SCSS, -, Other"
21,onevcat / Kingfisher,"A lightweight, pure-Swift library for download...",159,"Vue, TypeScript, JavaScript, SCSS, -, Other"
22,tensorflow / tensorflow,An Open Source Machine Learning Framework for ...,"3,005","Vue, TypeScript, JavaScript, SCSS, -, Other"
23,kamranahmedse / developer-roadmap,Roadmap to becoming a web developer in 2021,57,"Vue, TypeScript, JavaScript, SCSS, -, Other"
24,hoppscotch / hoppscotch,👽 Open source API development ecosystem https:...,151,"Vue, TypeScript, JavaScript, SCSS, -, Other"

# Q6.

In [119]:
Url ='https://www.billboard.com/'
driver.get(Url)

In [120]:
driver.set_page_load_timeout(300)

In [122]:
hot100=driver.find_element_by_xpath("//a[contains(text(),'Hot 100') and @class='header__subnav__link text--uppercase font--semi-bold']")
hot100
hot100.click()

In [130]:
Song_name=[]
Artist=[]
Lastweek_rank=[]
Peak_rank=[]
Weeks_on_chart=[]

try:
    song_name=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
    for i in song_name:
        Song_name.append(i.text)
except NoSuchElementException:
    Song_name.append('-')
    
try:
    artist=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
    for i in artist:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('-')
    
try:
    lastweek_rank=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
    for i in lastweek_rank:
        Lastweek_rank.append(i.text)
except NoSuchElementException:
    Lastweek_rank.append('-')
    
try:
    peak_rank=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
    for i in peak_rank:
        Peak_rank.append(i.text)
except NoSuchElementException:
    Peak_rank.append('-')
    
try:
    weeks_on_chart=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
    for i in weeks_on_chart:
        Weeks_on_chart.append(i.text)
except NoSuchElementException:
    Weeks_on_chart.append('-')

In [133]:
len(Weeks_on_chart)

100

In [134]:
billboard=pd.DataFrame({})
billboard['Song_name']=Song_name
billboard['Artist']=Artist
billboard['Last_week_rank']=Lastweek_rank
billboard['Peak_rank']=Peak_rank
billboard['Weeks_on_chart']=Weeks_on_chart
billboard

,Song_name,Artist,Last_week_rank,Peak_rank,Weeks_on_chart
0,My Universe,Coldplay x BTS,-,1,1
1,Stay,The Kid LAROI & Justin Bieber,1,1,12
2,Industry Baby,Lil Nas X & Jack Harlow,2,2,10
3,Way 2 Sexy,Drake Featuring Future & Young Thug,3,1,4
4,Fancy Like,Walker Hayes,5,5,15
...,...,...,...,...,...
95,Pipe Down,Drake,68,14,4
96,Papi's Home,Drake,66,8,4
97,Chosen,Blxst & Tyga Featuring Ty Dolla $ign,-,98,1
98,Toxic Punk,YoungBoy Never Broke Again,-,99,1
99,Moon,Kanye West,76,17,5

# Q7.

In [3]:
driver= webdriver.Chrome("chromedriver")

In [22]:
url = "https://www.naukri.com/"
driver.get(url)

In [26]:
recruiters=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
recruiters
driver.get(recruiters.get_attribute('href'))

In [27]:
search_bar=driver.find_element_by_xpath("//input[@class='sugInp']")
search_bar
search_bar.send_keys("Data Science")

In [29]:
search_btn= driver.find_element_by_id("qsbFormBtn")
search_btn
search_btn.click()

In [50]:
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]

try:
    name=driver.find_elements_by_xpath("//p[@class='highlightable']//a//span[@class='fl ellipsis']")
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
    
try:
    designation=driver.find_elements_by_xpath("//p[@class='highlightable']//span[@class='ellipsis clr']")
    for i in designation:
        Designation.append(i.text)
except NoSuchElementException:
    Designation.append('-')
    
try:
    company=driver.find_elements_by_xpath("//p[@class='highlightable']//a[@class='ellipsis'][2]")
    for i in company:
        Company.append(i.text)
except NoSuchElementException:
    Company.append('-')
    
try:
    skills=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
    for i in skills:
        Skills.append(i.text)
except NoSuchElementException:
    Skills.append('-')
    
soup=BeautifulSoup(driver.page_source,'html.parser')
l=soup.find_all('div',attrs={'vcard'})
for i in l:
    try:
        Location.append(i.find('small').text)
    except AttributeError :
        Location.append("No details available")

In [51]:
naukri=pd.DataFrame({})
naukri['Name']=Name
naukri['Designation']=Designation
naukri['Company']=Company
naukri['Skills']=Skills
naukri['Location']=Location
naukri

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,Narasimha,Company Recruiter,Step Next Private Limited,"Data Modeling, Data Wrangling, seaborn, eda, p...",Hyderabad / Secunderabad
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
7,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
9,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
16,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
17,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
18,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",No details available
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
30,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
33,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
34,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
35,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
48,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
49,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",No details available

# Q8.

In [52]:
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [58]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]
try:
    book_name=driver.find_elements_by_xpath("//tbody//td[@class='left'][2]")
    for i in book_name:
        Book_name.append(i.text)
except NoSuchElementException:
    Book_name.append('')
    
try:
    author_name=driver.find_elements_by_xpath("//tbody//td[@class='left'][3]")
    for i in author_name:
        Author_name.append(i.text)
except NoSuchElementException:
    Author_name.append('')
    
try:
    volumes_sold=driver.find_elements_by_xpath("//tbody//td[@class='left'][4]")
    for i in volumes_sold:
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append('')
    
try:
    publisher=driver.find_elements_by_xpath("//tbody//td[@class='left'][5]")
    for i in publisher:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('')
    
try:
    genre=driver.find_elements_by_xpath("//tbody//td[@class='last left']")
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('')

In [59]:
book=pd.DataFrame({})
book['Book_name']=Book_name
book['Author_name']=Author_name
book['Volumes_sold']=Volumes_sold
book['Publisher']=Publisher
book['Genre']=Genre
book

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q9.

In [60]:
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [62]:
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

try:
    name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']//a")
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('')
    
try:
    year_span=driver.find_elements_by_xpath("//h3[@class='lister-item-header']//span[2]")
    for i in year_span:
        Year_span.append(i.text)
except NoSuchElementException:
    Year_span.append('')
    
try:
    genre=driver.find_elements_by_xpath("//p[@class='text-muted text-small']//span[5]")
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('')
    
try:
    run_time=driver.find_elements_by_xpath("//p[@class='text-muted text-small']//span[3]")
    for i in run_time:
        Run_time.append(i.text)
except NoSuchElementException:
    Run_time.append('')
    
try:
    votes=driver.find_elements_by_xpath("//p[@class='text-muted text-small'][3]//span[2]")
    for i in votes:
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append('')

In [63]:
imdb=pd.DataFrame({})
imdb['Name']=Name
imdb['Year_span']=Year_span
imdb['Genre']=Genre
imdb['Run_time']=Run_time
imdb['Votes']=Votes
imdb

,Name,Year_span,Genre,Run_time,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,"1,883,743"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,"916,993"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,"905,172"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,"271,088"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,"231,443"
...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,"45,931"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,"56,801"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,"177,526"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,"36,949"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,"204,404"

# Q10.

In [65]:
url='https://archive.ics.uci.edu/ml/index.php'
driver.get(url)

In [66]:
dataset_btn=driver.find_element_by_xpath("//b[contains(text(),'View ALL Data Sets')]")
dataset_btn.click()

In [67]:
Name=[]
Data_type=[]
Task=[]
Att_type=[]
Instances=[]
Atr=[]
Yrs=[]

try:
    name=driver.find_elements_by_xpath("//table[@border='1']//tbody//p/b//a")
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('')
    
try:
    data_type=driver.find_elements_by_xpath("//table[@border='1' and @cellpadding='5']/tbody/tr/td[2]/p[@class='normal']")
    for i in data_type:
        Data_type.append(i.text)
except NoSuchElementException:
    Data_type.append('')
    
try:
    task=driver.find_elements_by_xpath("//table[@border='1' and @cellpadding='5']/tbody/tr/td[3]/p[@class='normal']")
    for i in task:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('')
    
try:
    att_type=driver.find_elements_by_xpath("//table[@border='1' and @cellpadding='5']/tbody/tr/td[4]/p[@class='normal']")
    for i in att_type:
        Att_type.append(i.text)
except NoSuchElementException:
    Att_type.append('')
    
try:
    instances=driver.find_elements_by_xpath("//table[@border='1' and @cellpadding='5']/tbody/tr/td[5]/p[@class='normal']")
    for i in instances:
        Instances.append(i.text)
except NoSuchElementException:
    Instances.append('')
    
try:
    atr=driver.find_elements_by_xpath("//table[@border='1' and @cellpadding='5']/tbody/tr/td[6]/p[@class='normal']")
    for i in atr:
        Atr.append(i.text)
except NoSuchElementException:
    Atr.append('')
    
try:
    yrs=driver.find_elements_by_xpath("//table[@border='1' and @cellpadding='5']/tbody/tr/td[7]/p[@class='normal']")
    for i in yrs:
        Yrs.append(i.text)
except NoSuchElementException:
    Yrs.append('')

In [70]:
repositories = pd.DataFrame({})
repositories['Title']=Name
repositories['Data Types']=Data_type
repositories['Default Task']=Task
repositories['Attribute Types']=Att_type
repositories['Instances']=Instances
repositories['Attributes']=Atr
repositories['Year']=Yrs
repositories

,Title,Data Types,Default Task,Attribute Types,Instances,Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021